h1 {
    font-family: Arial, sans-serif;
    color: #000000;
}

#header-video {
    background: url('../video/background_kiosko.mp4') no-repeat center center;
    height: 600px;
    width: 100%;
}

/*** T H E - M A G I C - O F - O B J E C T - F I T ***/

.video-container {
    height: 100vh;
    position: relative;
    overflow: hidden;

    @media(min-width: 600px) {
        height: 100vh;
    }
}

video {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

* {
    box-sizing: border-box;
}

body {
    background: #1a190f;
    color: white;
}

.video-container:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(#1a190f, .2);
    z-index: 1;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 1rem;
    padding: 0;
    line-height: 1;
    font-family: Futura, Helvetica, sans-serif;
    font-size: 5vw;

    @media (max-width: 400px) {
        font-size: 22px;
    }

    @media (min-width: 1200px) {
        font-size: 75px;
    }
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
}

img {
    width: 300px;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-top: 10px;

    &:before {
        display: block;
        position: absolute;
        content: '';
        bottom: -2px;
        width: 0;
        height: 1px;
        background-color: rgba(white, .3);
        transition: .3s;
    }

    &:hover:before {
        width: 100%;
    }
}
